<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML5 Semantic Tags</title>
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <ul class="menu">
      <li><a href="">home</a></li>
      <li><a href="">share</a></li>
      <li><a href="">comment</a></li>
    </ul>
    <!-- Header -->
    <header id="header" class="card">
      <h1>Edwings in the sky</h1>
      <p>welcome to the Edwings world</p>
    </header>

    <!-- Main Content (left) -->
    <main id="main">
      <!-- Welcome Section -->
      <section id="welcome" class="card">
        <h2>Welcome To Our Website</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
          cupiditate itaque possimus numquam corporis odit deserunt voluptas
          repellat ad ex earum magnam mollitia magni eaque nisi, excepturi nam
          temporibus! Sed. <br />
          <a href="#" class="text-center">Click For More</a>
        </p>
      </section>
      <!-- Blog Section -->
      <section id="blog">
        <!-- <h2>From Our Blog</h2> -->
        {% for track in track_list %}
        <!-- Article One -->
          <article id="article1" class="article">
            <h3><a href="{% url 'album' track.name %}">{{track.name}}</a></h3>
            <p>
              Producer: {{track.producer.stage_name}} <br>
              Genre: {% for genre in track.genre.all %}{{ genre.name }}, {% endfor %} <br>
              Description: {{track.description}} <br>
            </p>
          </article>
        {% endfor %}
        <div class="clr"></div>
      </section>
      <section name="Album" id="albums">
        <div id="album1" class="album"></div>
        <div id="album2" class="album"></div>
        <div id="album3" class="album"></div>
      </section>
    </main>

    <!-- Sidebar (right) -->
    <aside id="sidebar" class="card">
      <h3>Navigation</h3>
      <!-- Navigation -->
      <img id="logo", alt="MyLogo", width="64", height="64">
      <nav>
        <ul id="main-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <hr />
      <h3>Contact Us</h3>
      <ul>
        <li><strong>Address:</strong> 50 Main st, Boston MA</li>
        <li><strong>Phone:</strong> (555) 555-5555</li>
        <li><strong>Email:</strong> me@somethingcool.come</li>
      </ul>
    </aside>

    <div class="clr"></div>

    <!-- Footer -->
    <footer id="footer">
      <p class="text-center">Copyright &copy; Edwings Production, 2020</p>
    </footer>
  </body>
</html>
